<h1>Nuova contatto dal sito</h1>

Email: <%= rec.email %>
<br>
first_name: <%= rec.first_name %>
<br>
last_name: <%= rec.last_name %>
<br>
address: <%= rec.address %>
<br>
city: <%= rec.city %>
<br>
telephone: <%= rec.telephone %>
<br>
message: <%= rec.message %>