<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>


    <%
      pagina_privacy = element.content_by_name(:pagina_privacy).essence
      #
      # Composta da questi elementi
      # pagina_privacy =  body: "Iscriviti",
      #                   link: nil,
      #                   link_title: nil,
      #                   link_class_name: nil,
      #                   link_target: nil
      #
    %>


    <%-
      @form_contatti = @form_contatti || ContactForm.new
      @form_contatti.alcm_element = element.id

    %>


    <% if @form_contatti.sended? %>
      <div class="messaggio_invio successo">Invio avvenuto con successo</div>
    <% else %>

      <%
        # TODO completare la questione di come renderizzare gli errori nel caso ci fossero
        unless @form_contatti.errors.empty?
      %>
        <div class="messaggio_invio errore">Errore nella compilazione del form</div>
        <%#= @form_contatti.errors.inspect %>
      <% end %>
      <div class="container">
        <div class="form_contatti_pagina">
          <%= form_for(@form_contatti, url: "?" + request.query_string + element_dom_id(element), method: 'post') do |f| %>

            <%= hidden_field_tag :_method, 'get' %>
            <%= f.hidden_field :alcm_element %>

            <div class="row">
              <div class="box_contatti col-xs-12 col-sm-6">
                <%= f.text_field :first_name, placeholder: f.object.class.human_attribute_name(:first_name) + "*", required: 'required' %>
              </div>
              <div class="box_contatti col-xs-12 col-sm-6">
                <%= f.text_field :last_name, placeholder: f.object.class.human_attribute_name(:last_name) + "*", required: 'required' %>
              </div>
              <div class="box_contatti col-xs-12 col-sm-6">
                <%= f.text_field :city, placeholder: f.object.class.human_attribute_name(:city) %>
              </div>
              <div class="box_contatti col-xs-12 col-sm-6">
                <%= f.text_field :address, placeholder: f.object.class.human_attribute_name(:address) %>
              </div>
              <div class="box_contatti col-xs-12 col-sm-6">
                <%= f.text_field :email, placeholder: f.object.class.human_attribute_name(:email) + "*", required: 'required' %>
              </div>
              <div class="box_contatti col-xs-12 col-sm-6">
                <%= f.telephone_field :telephone, placeholder: f.object.class.human_attribute_name(:telephone) %>
              </div>
              <div class="box_contatti col-xs-12 col-sm-12">
                <%= f.text_area :message, placeholder: f.object.class.human_attribute_name(:message) + "*", required: 'required' %>
              </div>
            </div>
            <div class="trattamento">
              <div class="single_trattamento"><%= f.check_box :check_privacy, required: 'required' %>
                <label>Accosenti al trattamento dei tuoi dati in base al D.Lgs 30/06/2003 n.196</label></div>
            </div>
            <div class="invia">
              <%= f.submit 'Contattaci', class: "invisible_recaptcha" %>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>



  <%- end -%>
<%- end -%>