<% if resources_instance_variable.any? %>
  <table class="list" id="<%= resource_handler.resources_name %>_list">
    <thead>
    <tr>
      <% resource_handler.index_attributes.each do |attribute| %>
        <th class="<%= attribute[:type] %> <%= attribute[:name] %>">
          <%= sort_link [:resource_url_proxy, @query],
                        sortable_resource_header_column(attribute),
                        resource_handler.model.human_attribute_name(attribute[:name]),
                        hide_indicator: true %>
        </th>
      <% end %>
      <th class="tools"></th>
    </tr>
    </thead>
    <tbody>
    <%= render_resources %>
    </tbody>
  </table>
<% elsif params[:q].present? %>
  <p><%= Alchemy.t('Nothing found') %></p>
<% end %>

<%= paginate resources_instance_variable, scope: resource_url_proxy, theme: 'alchemy' %>


<% content_for :toolbar do %>


  <%
    if resource_handler.model == Products::Category %>
    <div class="button_with_label">
      <%= link_to(
              render_icon(:sort),
              '#sort_categories',
              class: 'icon_button please_wait',
              title: Alchemy.t('Sort')
          ) %>
      <label><%= Alchemy.t('Sort') %></label>
    </div>
    <div class="button_with_label" id="save_category_order">
      <%= link_to(
              render_icon(:save),
              '#save_sort',
              data: {save_path: update_order_admin_products_categories_path},
              class: 'icon_button please_wait',
              title: Alchemy.t('Save sort')
          ) %>
      <label><%= Alchemy.t('Save Sort') %></label>
    </div>

  <% end %>
  <div class="toolbar_spacer"></div>
  <div class="button_with_label">
    <%= form_tag switch_lang_path, method: 'get' do %>
      <%= select_tag(
              'language_id',
              options_for_select(@languages.map {|l| [l.name, l.id]}, Alchemy::Language.current.id),
              class: 'alchemy_selectbox short',
              data: {'auto-submit' => true}
          ) %>
    <% end %>
    <label><%= Alchemy.t("Language tree") %></label>
  </div>
<% end %>